body {
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
   
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--fundo-claro);
    color: var(--cor-primaria);
    padding: 5px 20px 5px 20px;
    text-align: center;
    max-width: 100%;
    max-height: 120px;
    margin-bottom: 1.5rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.header__logo img{
    width: 10rem;
}

input{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--box-claro); ;
}

.main__content{
    display: flex;      
    justify-content: center;
    background-color: var(--fundo-claro);
    color: var(--cor-segundaria);    
    max-width: 70%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;    
    border-radius: 5px;
}

nav{
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: var(--box-claro);
    
    width: 300px;
    height: 100vh;    
    margin-right: 20px;
    
}

nav ul{
    margin: .05rem;
    
}
nav ul p{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}
nav ul li{   
    width: 8rem;
    border-radius: 5px;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
    font-size: 1.5rem;    
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
    padding: 5px;
}
nav ul li:hover{
    background-color: var(--fundo-claro);
    color: var(--cor-primaria);
    box-shadow: black 2px 3px 10px;
}

.side__menu__left{    
    display: flex;
    float: left;       
    padding: 5px 0px 5px 20px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;  
}
.side__menu__right{    
    display: flex;
    float: right;     
    padding: 5px 20px 5px 0px;   
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}

.main__content__text{
    border: 0.2rem solid var(--cor-primaria);
    width: 450px;
    height: 100vh; 
    padding: 3px;
    overflow: auto;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
}

.main__content__text::-webkit-scrollbar {
    background: var(--fundo-claro);
    width: 5px;
    
}
.main__content__text::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 5px;
}
.main__content__text h1{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.main__content__text h2{
   margin-left: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}
.main__content__text p{
    text-align: justify;
    margin: 1rem;
}
.main__content__text iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 300px;
    margin: 1.2rem;
}
.main__content__text figure{
    display: flex;
    justify-content: center;
    align-items: center;
}



.main__content__text blockquote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--box-claro);
    border-left: 0.5rem solid var(--cor-primaria);
    border-radius: 5px;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: 500;
}
.main__content__text img{
    width: 140px;
    height: 140px;
    margin: 1rem;
    display: flex;
    
}
.main__content__img-multiply{
    mix-blend-mode: multiply;
}
figure img{
    cursor: pointer; 
}
.main__content__text .img_example img{
    width: 400px;
    height: 290px;    

}

 /* Estilo do modal */
 .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    justify-content: center;
    align-items: center;
  }

  .modal img {
    width: 800px;
    height: 600px;    
    
  }

  /* Botão para fechar */
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }

  mark {
    background-color: var(--cor-primaria);
    font-weight: bold;
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-claro);
    color: var(--cor-segundaria);
    padding: 5px 20px 5px 20px;
    text-align: center;
    max-width: 100%;
    max-height: 120px;
    margin-top: 1.5rem;    
}

.footer img{
    width: 3rem;
    margin: 1rem;
}
.footer a:hover{
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 5px;
}